@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 344.2, 100%, 96.3%;
		--foreground: 344.4, 26.2%, 59.6%;

		--card: 344.2, 100%, 96.3%;
		--card-foreground: 344.4, 26.2%, 59.6%;

		--popover: 344.2, 100%, 96.3%;
		--popover-foreground: 344.4, 26.2%, 59.6%;

		--primary: 344.4, 26.2%, 59.6%;
		--primary-light: 344.4, 26.2%, 65%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 344.4, 26.2%, 80%;
		--input: 344.4, 26.2%, 80%;
		--ring: 344.4, 26.2%, 59.6%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 344.4, 26.2%, 59.6%;
		--foreground: 210 40% 98%;

		--card: 344.4, 26.2%, 59.6%;
		--card-foreground: 210 40% 98%;

		--popover: 344.4, 26.2%, 59.6%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-light: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 344.4, 26.2%, 80%;
		--input: 344.4, 26.2%, 80%;
		--ring: 344.4, 26.2%, 80%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
