@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card{
	perspective: 800px;
}
.flip-card-inner {
	transition: transform .2s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.bent-corner::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 8px 0 0  0;
	border-width: 28px 28px 0 0;
	border-style: solid;
	z-index: 1;
	border-color: var(--accent) var(--accent-lightest);
}

.bent-corner::after {
	content: "";
	position: absolute;
	bottom: -3px;
	right: -3px;
	width: 30px;
	height: 30px;
	background-color: var(--accent-lightest);
	z-index: 0;
	border-radius: 8px 0 0  0;
}

@layer base {
	:root {
		--background: hsl(22.5,44.4%,92.9%);
		--foreground: hsl(202.1,29.2%,25.5%);

		--card: hsl(117, 23%, 84%);
		--card-foreground: hsl(202.1,29.2%,25.5%);

		--popover: hsl(22.5,44.4%,92.9%);
		--popover-foreground: hsl(202.1,29.2%,25.5%);

		--primary: hsl(202.1,29.2%,25.5%);
		--primary-light: hsl(197, 33%, 35%);
		--primary-lighter: hsl(201, 22%, 76%);
		--primary-lightest: hsl(195, 21%, 81%);
		--primary-foreground: hsl(210 40% 98%);

		--secondary: hsl(112, 18%, 47%);
		--secondary-foreground: hsl(222, 40%, 79%);

		--muted: hsl(114.4,19.3%,56.3%);
		--muted-foreground: hsl(215.4 16.3% 46.9%);

		/*tła hover*/
		--accent: hsl(114.4,19.3%,56.3%);
		--accent-dark: hsl(112, 18%, 47%);
		--accent-light: hsl(114, 20%, 69%);
		--accent-lightest: hsl(116, 19%, 85%);

		--accent-foreground: hsl(331, 58%, 41%);

		--destructive: hsl(0 84.2% 60.2%);
		--destructive-foreground: hsl(210 40% 98%);

		--border: hsl(344.4, 26.2%, 80%);
		--input: hsl(344.4, 26.2%, 80%);
		--ring: hsl(202.1,29.2%,25.5%);

		--blob-1-top: hsl(202.1,35.2%,21.2%);
		--blob-1-center: hsl(22.5,44.4%,92.9%);
		--blob-1-bot: hsl(137.1,15.7%,56.3%);

		--blob-2-top: hsl(30, 77%, 95%);
		--blob-2-bot: hsl(13, 72%, 59%);

		--blob-3-top: hsl(112, 58%, 24%);
		--blob-3-bot: hsl(120, 32%, 85%);

		--radius: 0.5rem;
	}

	.dark {
		--background: hsl(202.1,29.2%,25.5%);
		--foreground: hsl(210 40% 98%);

		--card: hsl(202.1,29.2%,25.5%);
		--card-foreground: hsl(210 40% 98%);

		--popover: hsl(202.1,29.2%,25.5%);
		--popover-foreground: hsl(210 40% 98%);

		--primary: hsl(210 40% 98%);
		--primary-light: hsl(210 40% 98%);
		--primary-foreground: hsl(222.2 47.4% 11.2%);

		--secondary: hsl(217.2 32.6% 17.5%);
		--secondary-foreground: hsl(210 40% 98%);

		--muted: hsl(217.2 32.6% 17.5%);
		--muted-foreground: hsl(215 20.2% 65.1%);

		--accent: hsl(114.4,19.3%,56.3%);
		--accent-foreground: hsl(210 40% 98%);

		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 40% 98%);

		--border: hsl(344.4, 26.2%, 80%);
		--input: hsl(344.4, 26.2%, 80%);
		--ring: hsl(344.4, 26.2%, 80%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
